doctype html 
html
  head
    title express ex
    meta(charset="utf-8")
    link(rel="stylesheet", href="/styless/main.css")
    //- 因為app.use(express.static("public"))寫這樣，href寫這樣就好 href="/styless/main.css"
    //-href寫href="public/styless/main.css" 反而讀不到CSS， https://stackoverflow.com/questions/48248832/stylesheet-not-loaded-because-of-mime-type
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    block scripts
  body
    include header 
    block content
    include footer



//- 主要版型內容